# COMANDOS SQL

-- <= inseridndo ifen 2x é comentário no SQL

-- O código abaixo seletiona a tabela e as colunas

# Select - > Seleciona a tabela
1. #* - > Tabela toda
2. #from - > Seguido do nome da tabela
3. #No lugar de * pode-se dizer o nome das colunas seguido por virgula

- select * from DimProduct
- select Name, BrandName, UnitPrice from DimProduct

# Alterando nome das tabelas

1. -- Renomeando o nome das colunas
- select Name as 'NOME', BrandName as 'DESCRICAO LOJA', UnitPrice from DimProduct

# Criando Filtros

1. -- Para filtros use 'where'

- select * from DimProdutc
- where BrandName = 'Litware'
- where BrandName = 'Deluxe'

# Comando WHERE com AND

- select
  PriceProdutc,
  Name,
  Catrgory
  from DimProduct
  
- where Name='Deluxe' or Name='Litware'
- where Name='Deluxe' and Name='Litware'

# Usando FILTROS com FILTROS MAIORES

- select
  PriceProdutc,
  Name,
  Category
  from DimProduct
  
- where (Name='Deluxe' or Name='Litware') and Category='Cel'
- where Name='Deluxe'and Name='Litware'

# Selecionando produto mais caro
Dizendo a coluna e tabela e recebendo o maior valor.

- select max(Prace) from DimProduct