# Lendo arquivos csv(planilhas) com PANDAS

In [46]:
import pandas as pd

telefones = pd.read_csv('niver.csv')

In [71]:
telefones[['Nome',' Telefone']]

          Nome         Telefone
0       Wagner   (24) 999276103
1      Roberto   (24) 999081398
2     Fernando   (24) 974035202
3         Igor   (24) 998808610
4        Celso   (24) 998614104
5      Marcelo   (24) 998236363
6      Leandro   (24) 992785520
7      Rodolfo   (24) 988366750
8  Victor Hugo   (24) 999944318

In [73]:
telefones[['Nome',' Email']]

          Nome                                 Email
0       Wagner       wagnercastroaquino122@gmail.com
1      Roberto   tioroberto-biblia-popup@outlook.com
2     Fernando                   ferjajrmf@gmail.com
3         Igor              igorf_cortez@hotmail.com
4        Celso                  brasausa@hotmail.com
5      Marcelo            marcelo.bcosta@hotmail.com
6      Leandro                     volgera@gmail.com
7      Rodolfo               pombo.rodolfo@gmail.com
8  Victor Hugo      victorfigueiredo.brito@gmail.com

In [84]:
telefones[' Telefone'][:6]

0     (24) 999276103
1     (24) 999081398
2     (24) 974035202
3     (24) 998808610
4     (24) 998614104
5     (24) 998236363
Name:  Telefone, dtype: object

In [83]:
telefones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nome       9 non-null      object
 1    Email     9 non-null      object
 2    Telefone  9 non-null      object
dtypes: object(3)
memory usage: 344.0+ bytes