# Vamos a performance de uma carteira de ativos.

- Análisar como que os ativos performaram, quanto que rendeu a carteira como um todo e comparar com o IBOV

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web

carteira = pd.read_excel('Carteira.xlsx')
display(carteira)

    Ativos  Tipo  Qtde
0   BOVA11   ETF   100
1   SMAL11   ETF   100
2    MGLU3  Ação  1000
3    BBDC4  Ação   100
4    ITUB4  Ação   100
5    ENEV3  Ação   300
6    MOVI3  Ação   100
7   BPAC11  Ação   100
8    GNDI3  Ação   100
9    NTCO3  Ação   100
10  BCRI11   FII   100
11  VILG11   FII   100
12  KNRI11   FII   100
13  XPLG11   FII   100

### DATA FRAME DE COTAÇÕES DO ATIVOS DA CARTEIRA

In [8]:
carteira_x = pd.DataFrame()

for ativo in carteira['Ativos']:
    carteira_x[ativo] = web.DataReader('{}.SA'.format(ativo), data_source='yahoo', start='2020-01-01', end='2020-11-10')['Adj Close']
    
display(carteira_x)

,BOVA11,SMAL11,MGLU3,BBDC4,ITUB4,ENEV3,MOVI3,BPAC11,GNDI3,NTCO3,BCRI11,VILG11,KNRI11,XPLG11
Date,,,,,,,,,,,,,,
2020-01-02,114.239998,139.500000,12.029736,32.214531,35.841343,10.9650,19.055841,18.437342,70.915009,38.330002,126.190002,149.000000,199.600006,NaN
2020-01-03,113.800003,140.899994,11.922435,32.229355,35.464363,11.0675,19.561922,18.490845,72.241066,41.000000,127.699997,147.000000,199.600006,NaN
2020-01-06,112.589996,139.100006,11.932190,31.653688,34.936592,11.3500,19.634153,18.464092,69.262360,40.130001,126.699997,148.559998,197.979996,NaN
2020-01-07,112.239998,139.399994,11.898048,31.103783,34.126080,11.2650,19.594961,18.537760,66.897209,40.779999,126.870003,143.830002,198.750000,NaN
2020-01-08,111.949997,138.199997,12.263843,30.622620,33.570049,11.2125,19.692934,18.373468,67.293045,40.990002,124.570000,139.470001,187.500000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-04,94.160004,112.000000,26.143793,17.952341,24.096985,14.4000,18.164532,18.547529,71.288712,47.669998,107.500000,126.970001,158.380005,127.660004
2020-11-05,96.949997,115.900002,27.401571,18.230129,24.665674,14.6775,19.222656,19.367037,72.212219,50.279999,107.500000,128.380005,158.179993,127.959999
2020-11-06,97.190002,117.510002,27.281780,18.186728,24.636755,14.7925,19.820303,19.579319,73.344261,50.630001,107.349998,128.029999,158.440002,130.000000
2020-11-09,99.500000,120.000000,26.403336,19.914253,26.631989,14.3950,18.899342,19.436153,71.596550,49.150002,107.500000,128.210007,158.149994,128.020004
2020-11-10,101.000000,119.169998,25.175503,21.199043,27.836836,14.2925,19.222656,18.831394,68.875679,48.450001,107.500000,128.520004,159.500000,127.290001

### Será que todos os ativos vieram corretos?

### Ajustando os dados

### Vamos ver como que as ações foram individualmente

### Vamos puxar o IBOV para comparar

### Criando um DATAFRAME da carteira com as quantiades de ações